[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
requests = "*"
tensorflow = "*"

[packages]
numpy = "*"
keras = "*"
loguru = "*"
matplotlib = "*"
autopep8 = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pillow = "*"
aiofiles = "*"
jinja2 = "*"
inflection = "*"

[requires]
python_version = "3.8"
