<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batch Normalization Layyer</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Batch Normalization Layer</h1>
    <h4> You've selected the Batch Normalization Layer.</h4>
    <p> The basic idea behind batch normalization is to limit covariate shift by normalizing the activations of each layer (transforming the inputs to be mean 0 and unit variance). This, supposedly, allows each layer to learn on a more stable distribution of inputs, and would thus accelerate the training of the network</p>
    <hr>
    <p> Output Images: <br><br>
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_0.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_1.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_2.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_3.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_4.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_5.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_6.png') }}" width="150" height="150">
        <img src="{{ url_for('static', path='/images/tmp/tmp_batch_normalization_7.png') }}" width="150" height="150">
    </p>
    <hr>
    <p> Output (Array): {{ output }}</p>
    <hr>
    <p> Beta: {{ beta }}</p>
    <hr>
    <p> Gamma: {{ gamma }}</p>
    <hr>
    <p> Mean: {{ mean }}</p>
    <hr>
    <p> Variance: {{ variance }}</p>
</body>
</html>