<!DOCTYPE HTML>
<html>

<head>
    <title>Dense Layer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('assets', path='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('assets', path='css/dense_layer.css') }}" rel="stylesheet">
</head>

<body>

    {% if not layer_id|int == 0 %}
    <a href="/keview/layers/{{ layer_id|int -1 }}" class="previous">previous</a>
    {% endif %}
    {% if not max_layer_id|int == layer_id|int %}
    <a href='/keview/layers/{{layer_id|int +1}}' class="next">next</a>
    {% endif %}

    <!-- Header -->
    <header id="header" class="alt">
        <div class="inner">
            <h1>Dense-Layer</h1>
            <h4> You've selected the Dense Layer.</h4>
            <p> A dense layer is simply a layer where each unit or neuron is connected to each neuron in the next layer.
            </p>
            <hr>
        </div>
    </header>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Banner -->
        <section id="intro" class="main">
            <h4> Component </h4>
            <p> Name: {{ component.name }} </p>
            <p> Count: {{ component.count }} </p>
            <hr>
            <div id="bias">
                SUMME+BIAS=
            </div>
            <div id="outer-box" style="display: inline-flex;">
                <div class="inputNeuronBox" id="inputNeuronBox" onscroll="onScrollInput()"></div>
                <svg id="svg" width="100%" height="50vh" stroke=" black"></svg>
                <div class="outputNeuronBox" id="outputNeuronBox" onscroll="onScrollOutput()"></div>
            </div>
        </section>

    </div>

    <!-- Scripts -->

    <script language="javascript" type="text/javascript"
        src="{{ url_for('assets', path='/js') }}/dense_layer.js"></script>
    <script>
        onload('{{ component.neuronalWeights | tojson }}', '{{component.neuronalInput | tojson}}')
    </script>

</body>

</html>