<!DOCTYPE HTML>
<html>
<head>
    <title>Dense Layer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body>

<!-- Header -->
<header id="header" class="alt">
    <div class="inner">
        <h1>Dense-Layer</h1>
        <h4> You've selected the Dense Layer.</h4>
        <p> A dense layer is simply a layer where each unit or neuron is connected to each neuron in the next layer.</p>
        <hr>
    </div>
</header>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Banner -->
    <section id="intro" class="main">
        <h4> Component </h4>
        <p> Name: {{ component.name }} </p>
        <p> Count: {{ component.count }} </p>
        <hr>
    </section>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>