<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flatten Layer</title>
    <link href="{{ url_for('assets', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Flatten Layer</h1>
    <h4> You've selected the Flatten Layer.</h4>
    <p> The role of the Flatten Layer in Keras is super simple: </p>
    <p> A flatten operation on a tensor reshapes the tensor to have the shape that is equal to the number of elements
        contained in tensor non including the batch dimension. </p>
</body>

</html>