<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Max Pooling Layer</title>
    <link href="{{ url_for('assets', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Max Pooling Layer</h1>
    <h4> You've selected the a Max Pooling Layer.</h4>
    <p> The function of the pooling layer is to progressively reduce the spatial size of the representation and reduce
        the amount of parameters and computation in the network. The Pooling layer operates on each feature map
        independently.</p>
    <hr>
    <h4> Images:</h4>
    <div id="images">
        {% for img in images %}
        <img src="{{ url_for('assets', path='/images') }}/{{ layer_id }}/{{ img }}" width="150" height="150">
        {% endfor %}
    </div>
    <hr>
    <h4> Component </h4>
    <p> Name: {{ component.name }} </p>
    <p> Count: {{ component.count }} </p>
    <hr>
</body>

</html>