<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Visualization of a Neural Network</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{ url_for('assets', path='css/main.css') }}" rel="stylesheet">
</head>

<body>

	<!-- Header -->
	<header id="header" class="alt">
		<div class="inner">
			<h1>Visualization of a Neural Network</h1>
			<p>Lab:prepare Student Project at TU Berlin.</a></p>
		</div>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Banner -->
		<section id="intro" class="main">
			<span class="icon fa-diamond major"></span>
			<h2>Project Goal</h2>
			<p>We want to visualize what happens in each layer of a (small) neural network.</p>
			<!---
			<ul class="actions">
				<li><a href="#" class="button big">Learn More</a></li>
			</ul>
			-->
		</section>

		<!-- Items -->
		<section class="main items">
			<article class="item">
				<header>
					<a href="#"><img src="images/pic01.jpg" alt="" /></a>
					<h3>What is a neural network?</h3>
				</header>
				<p>The structure of Neural Networks (NNs) is inspired by simplified models of biological neurons. It consists of a web of interconnected
				nodes wherein each node is responsible for a simple computation. It consists of several different layers. The basic idea of NN is to simulate lots of densely interconnected
				brain cells inside a computer so you can get it to learn things, recognize pattersn, and make decisions in a humanlike way.</p>

				<ul class="actions">
					<li><a href="http://127.0.0.1:8000/keview/layers_overview" class="button">View all layers</a></li>
				</ul>

			</article>
			<article class="item">
				<header>
					<a href="#"><img src="images/pic02.jpg" alt="" /></a>
					<h3>About this project</h3>
				</header>
				<p>This is a student project @ TU Berlin. We are 3 students, aiming to visualize a (small) NN.
					We implemented a NN for image recognition (<a href="https://en.wikipedia.org/wiki/MNIST_database">MNIST dataset</a>), allowing a user to draw
					a digit in our web interface and then observing what happens in each layer of the NN.</p>
			</article>
		</section>

		<!-- CTA -->
		<section id="cta" class="main special">
			<h2>Try it!</h2>
			<p>Simply draw a number and have a look at the output of each layer.</p>
			<ul class="actions">
				<li><a href="http://127.0.0.1:8000/keview/run" class="button big">Get Started</a></li>
			</ul>
		</section>
	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>